/* type selector */

p {
    color: red;
    margin-top: 50px;
    font-size: 100px;
}

/* id selector */

#hello-text {
    color: green;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#yasindu-txt {
    color: red;
    font-weight: bold;
    font-size: 50px;
}

/* class selector */

.btn {
    color: white;
    background-color: blue;
    border-radius: 100%;
    border: 2px solid brown;
}

/* universal selector */

* {
    background-color: aqua;
}

/* attribute selector */

[class="test"] {
    width: 200px;
    height: 100px;
    background-color: blueviolet;
}

h6:hover{
  font-size: 20px;  
  color: burlywood;
}